.container{
    max-width: 90rem;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.container-fluid {
    width: 100%;
}

.content{
    margin: 3.2rem;
}

@media (max-width: 768px) {
    .content {
        margin: 1.5rem; 
    }
}