.card {
  background: linear-gradient(var(--gray-900), var(--gray-800)) padding-box, linear-gradient(to bottom, #6e4ef2, transparent) border-box;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  transition: all .3s ease-in-out;
}

.card:hover{
  border: 1px solid #ccc;
}

.cardSub {
  font-size: 15px;
  color: #8c71ff !important;
  font-weight: 400;
}

.card svg {
  width: 3.5rem;
  height: 3.5rem;
  color: #8c71ff;
}

.cardTitle {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

.card p {
  color: var(--text-muted);
}