.mainTemplate {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  max-width: 1500px;
  margin: 0 auto;    
  min-height: 100vh; 
  align-items: start;
  
}

@media (max-width: 768px) {
  .mainTemplate {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
  }
  .mainBackground{
    min-width: 5rem !important;
    max-height: max-content !important;
  }
}

.mainBackground{
  border-radius: 1rem;
  background: linear-gradient(var(--gray-800), var(--gray-800)) padding-box, linear-gradient(to bottom, #6e4ef2, transparent) border-box;
  border: 1px solid transparent;
  min-width: 85rem;
  max-height: 75rem;
  scrollbar-width: thin;
  scrollbar-color: #6e4ef2 var(--gray-800);
}

.mainBackground::-webkit-scrollbar {
  width: 6px;
}

.mainBackground::-webkit-scrollbar-track {
  background: var(--gray-800);
}

.mainBackground::-webkit-scrollbar-thumb {
  background-color: #6e4ef2;
  border-radius: 10px;
}